*{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family:"montserrat";
}
body{
    background:#333;
}
.middle{
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
}
.first{
    left:10%;
}
.second{
    left:30%;
}
.third{
    left:50%;
}
.fourth{
    left:70%;
}
.fifth{
    left:90%;
}
.card{
    cursor:pointer;
    width:250px;
    height:360px;
}
.front img{
    height:100%;
}
.front,.back{
    width:100%;
    height:100%;
    overflow:hidden;
    backface-visibility:hidden;
    position:absolute;
    transition:transform .7s linear;
}
.front{
    transform:perspective(600px) rotateY(0deg);

}
.back{
    background:#f1f1f1;
    transform:perspective(600px) rotateY(180deg);

}
.back-content{
    color:#2c3e50;
    text-align:center;
    width:100%;
    left:47%;
}
.card:hover > .front{
    transform:perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform:perspective(600px) rotateY(0deg)
}
